@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("RobotoSlab-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("RobotoSlab-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("RobotoSlab-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("RobotoSlab-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("RobotoSlab-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("RobotoSlab-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("RobotoSlab-Black.ttf") format("truetype");
}
