@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing  fonts */
@import url("./assets/fonts/Plus_Jakarta_Sans/plus_jakarta_sans.css");
@import url("./assets/fonts/Roboto_Slab/roboto_slab.css");
body {
  margin: 0;
  font-family: "PlusJakartaSans", "RobotoSlab";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.layout {
  background-image: url("./assets/images/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.scroll::-webkit-scrollbar {
  visibility: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
