@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing  fonts */
@import url("./assets/fonts/Plus_Jakarta_Sans/plus_jakarta_sans.css");
@import url("./assets/fonts/Roboto_Slab/roboto_slab.css");
html {
  background-color: #000e14;
}
h1,
h2 {
  @apply font-bold text-[24px];
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 163, 136, 1) inset !important;
  -webkit-text-fill-color: white !important;
}

body {
  margin: 0;
  font-family: "PlusJakartaSans", "RobotoSlab";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.suspense {
  background-color: #000e14;
  height: 100vh;
  width: 100vw;
}
.layout {
  background-image: url("./assets/images/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body.modal-open {
  overflow: hidden;
}
.scroll {
  scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
  visibility: hidden;
}
.disclosure:hover .icon {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
